<table align="left">
  <td>
    <a target="_blank" href="https://colab.research.google.com/github/gimseng/99-ML-Learning-Projects/blob/master/001/exercise/starter-notebook.ipynb"><img src="https://www.tensorflow.org/images/colab_logo_32px.png" />Run in Google Colab</a>
  </td>
</table>

## A starter notebook with tasks listed to help you get started on your first machine learning project

### First phase: Inspecting the data
(this process is where you familiarize yourself with the data)

Tasks:
- Inspect the data
- Check for null/missing values
- View statistical details using ``describe()``

Step one has been done for you 
After finishing the tasks think of the following:

What can you infer from the statistical measures? like possible outliers?

**Important note:**

The data is already split into train.csv and test.csv, you generally would build your model using the train.csv **without** using any test.csv data as that would lead to overfitting your model

#### Reminder: you do not have to stick to the tasks listed word for word, the tasks are listed as a guide to guide you.
#### Feel free to explore more and do more on your own!

In [2]:
# imports 
import pandas as pd

In [3]:
project_url = 'https://raw.githubusercontent.com/gimseng/99-ML-Learning-Projects/'
data_path = 'master/001/data/'
train = pd.read_csv(project_url+data_path+'train.csv')
test = pd.read_csv(project_url+data_path+'test.csv')

train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
# Check for null/missing values

In [ ]:
# Inspect the statistical measures

### Second phase: Data Analysis and Visualization (this process is where you explore the data, clean it and infer some insights from it)
Tasks:
- Plot the gender distribution of passengers on board
- Plot the rate of men and women who survived and who didnt survive
- Plot the survival rate by "Pclass" (male and female counted together in each Pclass)
- Plot the survival rate by males only in each "Pclass"
- Plot the survival rate by females only in each "Pclass"

Think about the plots that you just did, what can you infer from them?
Now lets have a look at the columns, there are always unnecessary columns that do not contribute to the prediction.

- Remove unnecessary columns from both train and test datasets
- Handle categorical text values and turn them into numerical
- Plot number of people who survived over age and passenger class

- Deal with null values in the Age column
- Group the data in the Age column into groups for better prediction.
- Get survival rates by age groups 
- Plot the correlation between features and label


What do you infer from the data? What can you conclude from it?who is most likely to survive, based on the data?

### Third phase:
### Building the model and testing the accuracy (this process is where you start building models and choose a model based on accuracy metrics)
- Choose a model suitable for classification
- Fit the data
- Find out how "well" the model performs using some metrics
- Use cross validation to get the avg accuracy on the model you chose
- **Bonus 1** 
    - Try other classification algorithms 
    - Compare the accuracy metrics (including cross-validation) for the classification algorithms used by presenting them in a readable, easy to compare format
    - Choose a model with the best cross validation accuracy metric
- **Bonus 2**: Get the feature importance of your features using random forests
    (if you are not sure what that is or how to do it, google it!)